@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
  background-color: #fff4ec;
}

.container {
  width: 100%;
  max-width: 600px;
  height: 100%;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
  position: relative;
}
.screen {
  padding: 2rem;
  /* width: 50vw; */
  width: 100%;
  background-color: #102e4a;
  display: none;
  text-align: center;
  border-radius: 0.8rem;
}

.active {
  display: block;
}

/* Start Screen */
#start-screen {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#start-screen h1 {
  color: #fff4ec;
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  height: 10vh;
}

#start-screen p {
  color: #fff4ec;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #9ce37d;
  color: #102e4a;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: #a6db8f 2px 2px 2px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #66ec2d;
}

#quiz-screen h3 {
  color: #fff4ec;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}
#quiz-header {
  width: 100%;
}

#quiz-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff4ec;
  margin-bottom: 30px;
}

#answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.answer-btn {
  background-color: #ffd6e8;
  color: #102e4a;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.answer-btn:hover {
  background-color: #fec0db;
}

#progress-bar {
  width: 100%;
  height: 1rem;
  background-color: #fff4ec;
  border-radius: 0.5rem;
}

#progress {
  background-color: #ff006e;
  border-radius: 0.5rem;
  height: 1rem;
  width: 0px;
}

#result-screen h1 {
  color: #fff4ec;
  margin-bottom: 20px;
}

.result-info p {
  color: #fff4ec;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
