* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(191, 192, 192);
}
#container {
  background-color: #0d0042;
  width: 400px;
  height: 500px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  width: 95%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1.5rem;
}

#buttons {
  margin-top: 40px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 56px);
  width: 100%;
}

.btn {
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(191, 192, 192);
}
#equal {
  grid-column: 3 / span 2;
}
